{% extends "base.html" %}
{% block content %}
	<div data-role="header">
		<a href="index.html" data-rel="back" data-icon="back" class="ui-btn-left">Back</a>
		<h1>{{place}}</h1>
	</div>
	{% for occupied in tables %}
		{% if occupied %}
			<div class='full'>
				Red
			</div>
		{% else %}
			<div class='empty'>
				Green
			</div>
		{% endif %}
	{% endfor %}
	
<!--	<div style="width: 100vw" class="scrollable-wrapper">
-->	
		<div style="margin-left:auto; margin-right:auto; margin-top:15px; display:block; width:1200px; background-color:red">
			<div class="circle" style="margin-left:230px">&nbsp;</div>
			<div class="red circle" style="margin-left:55px;">&nbsp;</div>
			<div class="green circle" style="margin-left:85px;">&nbsp;</div>
			<div class="red circle" style="margin-left:55px;">&nbsp;</div>
			<div class="green circle" style="margin-left:92px;">&nbsp;</div>
			<div class="green circle" style="margin-left:55px;">&nbsp;</div>
			<div class="green circle" style="margin-left:85px;">&nbsp;</div>
			<div class="green circle" style="margin-left:55px;">&nbsp;</div>
		</div>
		
		<img style="margin-left: auto; margin-right:auto;" src="/static/img/tables.png">
	
<!--	</div>
-->	
	<div data-role="footer">
		<div data-role="navbar">
			<ul>
				<li><a href="#" class="ui-btn-active" data-icon="grid">Tables</a></li>
				<li><a href="#" data-icon="camera">Camera</a></li>
				<li><a href="#" data-icon="info">Info</a></li>
				<li><a href="#" data-icon="bullets">Food List</a></li>
				
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->
	
{% endblock %}